:root {
    --off-black: #2d2e27;
    --grey-text: #a1a1a1;
    --grey-background: #dfdfdf;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Segoe UI', sans-serif;
}
body {
    background-color: var(--grey-background);
}
main h1{
    text-align: center;
}
hr{
    margin-top: 8px;
    background-color: var(--off-black);
}
/* GitHub Cards */
.window-cards{
    width: 70%;
    margin: 26px auto 0;
}
.body-card {
    border: solid 1px #FFF;
    color: #FFF;
    background: var(--off-black);
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    margin-top: 14px;
}

.left-card p {
    color: var(--grey-text);
    margin-top: 6px;
}
